.container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;

  @media only screen and (max-width: $bp-largest-second) {
    margin: 0;
    transform: translateY(0);
    min-height: 100vh;
  }
}
