.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: $line-dark;
  padding: 1.5rem 3rem;
  position: relative;

  @media only screen and (max-width: $bp-medium) {
    display: flex;
    flex-direction: column;
    border-bottom: $line;
  }

  &__logo-box {
    display: flex;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
      margin-bottom: 1rem;
    }
  }

  &__logo {
    height: 6.25rem;
    margin-right: 1.5rem;
  }

  &__text {
    color: $color-gray-dark-2;
    font-size: 2.8rem;
  }

  &__heading-box {
    max-width: 55rem;
    position: absolute;
    top: 3rem;
    right: 3rem;
    background-color: $color-primary;
    padding: 1rem 2rem;

    @media only screen and (max-width: $bp-large) {
      max-width: 50rem;
    }

    @media only screen and (max-width: $bp-medium) {
      max-width: 100%;
      position: relative;
      top: 0;
      right: 0;
    }
  }

  &__heading {
    font-size: 3rem;
    color: $color-white;
    letter-spacing: 0.2rem;

    @media only screen and (max-width: $bp-large) {
      font-size: 2.5rem;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 1.9rem;
    }
  }
}
