.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 15rem;
  background-color: $color-primary;

  @media only screen and (max-width: $bp-medium) {
    display: flex;
    flex-direction: column;
    border-bottom: $line;
  }

  &__text {
    color: $color-white;
    font-size: 3rem;
  }

  &__redirect {
  }
}
