.outlet-card {
  padding: 1rem 2rem;
  background-color: $color-secondary;
  color: $color-gray-dark-1;
  cursor: pointer;
  box-shadow: $shadow-light;
  display: flex;
  align-items: center;

  @media only screen and (max-width: $bp-medium) {
    padding: 1rem 1rem;
  }

  &__heading {
  }

  &__icon {
    height: 4rem;
    width: 4rem;
    margin-right: 1.5rem;
    transition: all 0.3s;

    @media only screen and (max-width: $bp-large) {
      display: flex;
      font-size: 0;
      line-height: 0;
      height: 3rem;
      width: 3rem;
    }

    @media only screen and (max-width: $bp-medium) {
      height: 2rem;
      width: 2rem;
    }
  }

  &:hover &__icon {
    transform: translateX(1rem);
  }
}
